/******************************************************************/
/**
 * @description 变量样式
 * @author Jayce pu
 * @date 2018.11.27
 */
/******************************************************************/

// 颜色
$theme : #1f1d1d;
$content: #333131;
$hover: #4c4b4b;
$words : #ffffff;
$editor: #2f2e2e;

// 字体大小
$fontsize-small: 14px;
$fontsize-normal: 16px;
$fontsize-large: 20px;

// 屏幕断点
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;